:root {
  /* --bg-color: #f6f1e7; */
  --bg-color: #fff;
  --primary: rgb(35, 69, 44);
  --primary-hover: rgb(62, 95, 71);
  --alt-text-color: #fff;
  --border-radius: 6px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4 {
  font-family: "Prata", serif;
}

li {
  list-style-type: none;
}

a {
  color: #000;
  text-decoration: none;
}

.header__container {
  position: sticky;
  top: 0;
  color: var(--primary);
  background-color: var(--bg-color);
  z-index: 10;
  border-bottom: 2px solid var(--primary);
  -webkit-box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 16px 1px rgba(0, 0, 0, 0.15);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
}

.header__nav > a:hover {
  text-decoration: underline;
}

.header__title {
  color: var(--primary);
}

.header__link > a:hover {
  /* color: var(--primary); */
  text-decoration: underline;
}

.header__list {
  display: flex;
  gap: 2rem;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__text {
  position: absolute;
  background-color: var(--primary);
  opacity: 0.9;
  color: white;
  padding: 2rem;
  padding-right: 7rem;
  margin-left: 3rem;
  border-radius: var(--border-radius);
}

.hero__image-container {
  /* width: 100vw; */
  height: 85vh;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
}

.btn__reserva {
  position: fixed;
  background-color: var(--primary);
  color: #fff;
  padding: 8px 12px;
  border-radius: var(--border-radius);
  bottom: 32px;
  right: 32px;
  transition: background 0.12s ease-in;
}

.btn__reserva:hover {
  background-color: var(--primary-hover);
}

.section__container {
  padding: 5rem 10rem;
}

.section__title {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 2rem;
  scroll-margin-top: 100px; /* Marge per que el header (fixed), no tapi els títols */
}

.aboutus__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.aboutus__image-container {
  width: 100%;
}

.aboutus__content {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
  justify-items: start;
}

.aboutus__content--reversed {
  grid-template-columns: 1fr 300px;
  justify-items: end;
}

.carta__title {
  font-size: 1.75rem;
  border: 2px dashed #000;
  border-radius: var(--border-radius);
  margin-bottom: 3rem;
  text-align: center;
  padding: .5rem;
}

.menu__container {
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "m1 c1 c1"
    "m1 c1 c1"
    "m2 c2 c2"
    "m2 c2 c2";
    row-gap: 3rem;
    column-gap: 5rem;
}

#m1 {
  grid-area: m1;
}

#c1 {
  grid-area: c1;
}

#m2 {
  grid-area: m2;
}

#c2 {
  grid-area: c2;
}

.menu__title {
  /* background-color: #c4c4c4; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px dashed #000;
  border-radius: var(--border-radius);
}

.menu__info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.menu__images {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.menu__image-container {
  width: 100%;
}

.gallery__container {
  --gap: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.gallery__container > div {
  background-color: blue;
  height: 200px;
  border: 1px solid #00000079;
  width: calc(25% - var(--gap));
  transition: box-shadow .12s ease-out;
}

/* .gallery__container > div:nth-child(1), div:nth-child(4), div:nth-child(5), div:nth-child(8) { */
.gallery__container > div:nth-child(4n + 1), div:nth-child(4n) {
  /* background-color: purple; */
  filter: brightness(.75);
}

.gallery__container > div:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.4);
}

@media (max-width: 700px) {
  .gallery__container > div {
    --gap: 20px;
    width: calc(50% - var(--gap));
  }
}

.footer__container {
  background-color: var(--primary);
  color: var(--alt-text-color);
  padding: 4rem 2.5rem;
}

.footer__list {
  display: flex;
  gap: 2rem;
}

.footer__element {
  display: flex;
  gap: 8px;
}

.footer__link {
  color: var(--alt-text-color);
}

.footer__link:hover {
  text-decoration: underline;
}
